<div class="wrapper fadeInDown">
  <div id="formContent">
    <%= form_tag users_path do %>
      <%= label_tag :username %><br />
      <%= text_field_tag :username, params[:username], class: "fadeIn second" %>
      <%= label_tag :password %><br />
      <%= password_field_tag :password, nil, class: "fadeIn third" %>
      <div class="actions"><%= submit_tag "Log In", class: "fadeIn fourth" %></div>
    <% end %>
  </div>
</div>