<h1>All Contacts</h1>
<%= form_tag(contacts_path, "method"=>:get) do %>
    <div class="col-sm-12">
      <div class="col-sm-3" style="margin-top: -9px">
        <%= text_field_tag "search", params[:search], :placeholder => 'Name or Telephone Number', :class=>" col-sm-4 form-control" %>
      </div>
      <div class="col-sm-1" style="margin-top: 7px">
        <%= submit_tag 'Search', :class => "btn btn-primary"%>
      </div>
    </div>
  <%end%>
<%= link_to 'New contact', new_contact_path %>
<table>
  <tr>
    <th>First Name</th>
    <th>Middle Name</th>
    <th>Last Name</th>
    <th>Email</th>
    <th>Mobile Number</th>
    <th>Landline Number</th>
    <th>Notes</th>
    <th colspan="2"></th>
  </tr>
 
  <% @contacts.each do |contact| %>
    <tr>
      <td><%= contact.first_name %></td>
      <td><%= contact.middle_name %></td>
      <td><%= contact.last_name %></td>
      <td><%= contact.email %></td>
      <td><%= contact.mobile_number %></td>
      <td><%= contact.landline_number %></td>
      <td><%= contact.notes %></td>
      <td><%= link_to 'Show', contact_path(contact) %></td>
      <td><%= link_to 'Edit', edit_contact_path(contact) %></td>
    </tr>
  <% end %>
</table>