<%= stylesheet_link_tag    'contacts/show'%>

<div class="container">
    <div class="main-body">
    
          <div class="row gutters-sm">
            <div class="col-md-3 mb-3">
              <div class="card">
                <div class="card-body">
                  <div class="d-flex flex-column align-items-center text-center">
                  <%= image_tag "#{@contact.photo}", class: "rounded-circle h-150" %>
                    <div class="mt-3">
                      <h4>John Doe</h4>
                      <p class="text-secondary mb-1">Contact Added on</p><p><%= @contact.created_at.strftime("%d-%b-%Y")%></p>
                      <p class="text-muted font-size-sm">Contact Edited on</p><p><%= @contact.updated_at.strftime("%d-%b-%Y")%></p>
                      <p class="text-muted font-size-sm">Contact Viewed <h5><%= @contact.counter%></h5> times</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            
            <div class="col-md-8">
              <div class="card mb-3">
                <div class="card-body">
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">First Name</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      <%= @contact.first_name %>
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Middle Name</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                    <%= @contact.middle_name %>
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Last Name</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                    <%= @contact.last_name %>
                    </div>
                  </div>
                  <hr><div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Email</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                    <%= @contact.email %>
                    </div>
                  </div>
                  <hr><div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Mobile Number</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                    <%= @contact.mobile_number %>
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Landline Number</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      <%= @contact.landline_number %>
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Notes</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                     <%= @contact.notes %>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row gutters-sm">
                <div class="col-sm-12 mb-3">
                  <div class="card h-100">
                    <div class="card-body">
                      <%= pie_chart Contact.group(:counter).count %>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
